:root {
    --dark: rgb(0 0 0 / 80%);
    --sidebar-width: 300px;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #D3D3D3;
}

[v-cloak] {
    display: none;
}

html {
    direction: rtl;
}

body {
    background-image: linear-gradient(to left bottom, #D3D3D3, #DCDCDC);
    font-family: 'Amiri';
}

.app-grid {
    margin-top: 40PX;
    display: grid;
    grid-template-areas: 'sidebar  conatiner';
    grid-template-columns: max-content auto;
}

.app-grid .sidebar {
    /* width: max-content; */
    transition: 0.2s ease-in-out;
}

.app-grid .app-container {
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: calc(100% - var(--sidebar-width));
    /* width: calc(100%); */
    /* z-index: -1; */
    transition: width 0.3s ease-in-out;
}

.footer-expended {
    width: calc(100% - 2rem - 32px) !important;
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
    .app-grid {
        margin-top: 10PX;
        display: grid;
        grid-template-areas: 'conatiner';
        grid-template-columns: 100%;
    }
    .app-grid .sidebar {
        /* width: max-content; */
        /* transition: 0.2s ease-in-out; */
        display: none;
    }
    .navbar {
        display: none;
    }
    .app-grid .app-container {
        margin: auto;
    }
}