:root {
    --dark: rgb(0 0 0 / 80%);
    --sidebar-width: 300px;
}

* {
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

html {
    direction: rtl;
}

body {
    background-image: linear-gradient(to left bottom, #D3D3D3, #DCDCDC);
    font-family: 'Amiri';
}

.app-grid {
    margin-top: 40PX;
    display: grid;
    grid-template-areas: 'sidebar  conatiner';
    grid-template-columns: max-content auto;
}

.app-grid .sidebar {
    /* width: max-content; */
    transition: 0.2s ease-in-out;
}

.app-grid .app-container {
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
